flask==3.0.2
langchain==0.3.24
langchain-community==0.3.22
PyPDF2==3.0.1
sentence-transformers==4.0.2
llama-cpp-python==0.3.8
faiss-cpu==1.9.0
huggingface-hub==0.30.1
python-dotenv==1.0.1
langdetect==: 1.0.9